<!DOCTYPE html>
<html>
<head>
    <title>Gender and Age Detection</title>
    <link rel="stylesheet" type="text/css" href="static/css/form.css">
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

</head>
<body>

    <div class="form-container">
        <div class="belt">
          <form class="form" action="{{ url_for('result')}}" method="post" enctype="multipart/form-data">
            <div class="form-header">
              <h2>Gender and Age Detection</h2>
            </div>
            <label for="img" style="color: #FF785A;font-weight: bold; text-align:left;">Select image :</label><br><br>
            <input type="file" id="uploadImage" name="uploadImage" accept="image/*" onchange="PreviewImage();"><br><br>
            <button>Send Data</button>
          </form>
          <div class="progress-wrapper">
          </div>
          <div class="success-wrapper">
          </div>
        </div>
      </div>

</body>
<script src='static/js/form.js' type="text/javascript"></script>


</html>
